$color-black: #222;
$color-gray: #ccc;
$color-gray-light: lighten($color-gray, 10%);
$color-green: lime;
$color-green-light: lighten($color-green, 10%);
$color-purple: #7BC6CC;
$color-teal: #BE93C5;
$color-white: #fefefe;
