@import 'colors';

@mixin btn($include-border: true) {
    $border: 0;
    $border-inv: 0;
    
    @if $include-border == true {
        $border: 1px solid $color-white;
        $border-inv: 1px solid $color-black;
    }
    @else {
        $border: 0;
        $border-inv: 0;
    }

    background: transparent;
    border: $border;
    color: $color-white;
    font-size: 1.2rem;
    padding: 0.5rem;
    transition: all 0.25s linear;

    &:hover, &:focus {
        background: $color-white;
        box-shadow: 0 0.3rem 1.5rem rgba($color-black, 0.2);
        color: $color-black;
    }

    &:active {
        background: $color-black;
        border: $border-inv;
        color: $color-white;
    }
}

@mixin media($size) {
    @media screen and (min-width: $size) {
        @content;
    }
}
