@import '../../../shared/colors';
@import '../../../shared/mixins';

.game-settings {
    display: flex;
    flex: 0 0 50%;

    .minus-plus {
        display: inline-block;
        flex: 0 0 auto;
        margin-right: 0.5rem;
        text-align: center;

        div.minus-plus-container {
            border: 1px solid $color-white;
            
            div {
                display: inline-block;
                width: 4rem;
            }

            button {
                @include btn(false);
                border: 0;
            }
        }
    }
}
